include dash_blueprint_components/dash_blueprint_components.min.js
include dash_blueprint_components/dash_blueprint_components.min.js.map
include dash_blueprint_components/async-*.js
include dash_blueprint_components/async-*.js.map
include dash_blueprint_components/*-shared.js
include dash_blueprint_components/*-shared.js.map
include dash_blueprint_components/metadata.json
include dash_blueprint_components/package-info.json
include README.md
include LICENSE
include package.json
